<div class="past-projects" id="projects">
  <h1 class="title" >Mes Anciens Projets</h1>
  <div class="projects">
    <div class="projet" *ngFor="let itemProjet of myProjects">
      <img src="{{itemProjet.thumbnail}}" alt="{{itemProjet.name}}">
      <div class="content">
        <h1>{{itemProjet.name}}</h1>
        <h6>{{itemProjet.date}}</h6>
        <p>{{itemProjet.description}}{{itemProjet.description}}{{itemProjet.description}}{{itemProjet.description}}</p>
        <div class="technologies">
          <img class="technologie" *ngFor="let technologie of itemProjet.technologies" src="assets/images/technologies/{{technologie}}.png" alt="{{technologie}}">
        </div>
      </div>
    </div>
  </div>
</div>
