<div id="root">
<div class="flex w-100 justify-around items-center header">
  <img class="icon-menu" *ngIf="navbar == 0" (click)="ChangeEtatNavBar(1)" width="50" height="50" src="assets/images/icon-menu.png" alt="menu">
  <img class="icon-menu" *ngIf="navbar == 1" (click)="ChangeEtatNavBar(0)" width="50" height="50" src="assets/images/icon-x.png" alt="x">
    <div class="w-4/5 links" *ngIf="navbar == 1">
        <ul class="flex justify-evenly">
          <li class="m-0.5 text-lg font-bold"><a href="/#home"><i class="fa-solid fa-house"></i> Accueil</a></li>
          <li class="m-0.5 text-lg font-bold"><a href="/#about"><i class="fa-solid fa-user"></i> À Propos De Moi</a></li>
          <li class="m-0.5 text-lg font-bold"><a href="/#projects"><i class="fa-solid fa-list-check"></i> Mes Anciens Projets</a></li>
          <li class="m-0.5 text-lg font-bold"><a href="/#competences"><i class="fa-sharp fa-solid fa-layer-group"></i> Mes Compétences</a></li>
          <!--<li class="m-0.5 text-lg font-bold"><a href="/#contact">Contactez moi</a></li>-->
        </ul>
    </div>
    <div class="w-1/5 flex justify-end mr-3 btn-bar">
      <a href="https://drive.google.com/file/d/1CoHXJysQVEylFkDFVHw5j_Hqmj3tNbCX/view?usp=sharing" target="_blank" download class="btn">Télécharger cv</a>
    </div>
</div>
<div class="relative flex justify-center bienvennue" id="home">
  <div class="w-2/4 flex justify-start items-center flex-wrap p-20 bienvennue-text">
    <div class="text-3xl font-bold name">Bonjour !</div>
    <div class="text-3xl font-bold name">Anas BOUKHLIJA</div>
    <div class="links-icons">
      <a href="https://github.com/anasBOUKHLIJA" target="_blank" class="fa-brands fa-github"></a>
      <a href="https://www.linkedin.com/in/anas-boukhlija-a2b9481a3" target="_blank" class="fa-brands fa-linkedin"></a>
      <a href="https://www.instagram.com/anasboukhlija1/" target="_blank" class="fa-brands fa-instagram"></a>
      <a href="https://www.facebook.com/anasboukhlija0?mibextid=LQQJ4d" target="_blank" class="fa-brands fa-facebook"></a>
      <a href="https://twitter.com/boukhlija_anas" target="_blank" class="fa-brands fa-twitter"></a>
    </div>
    <div class="text-3xl font-bold cible">DÉVELOPPEUR FULL STACK</div>
  </div>
  <div class="w-2/4 relative flex justify-center items-center bienvennue-img">
    <img class="h-full z-40 rounded" src="assets/images/1.png" alt="Anas-BOUKHLIJA">
    <span class="circle z-0"></span>
  </div>
</div>
<div class="about-me" id="about">
  <h1 class="title">À Propos De Moi</h1>
  <div class="content">
   <img src="assets/images/IMG_0817.JPG">
    <div>
      <p>Je suis Anas BOUKHLIJA un développeur Full Stack qualifié avec une passion pour la création d'applications Web dynamiques et conviviales. Avec une expertise en développement front-end et back-end, je suis capable de concevoir, développer et maintenir des projets logiciels complexes du début à la fin. Je m'engage à fournir un code de haute qualité qui répond aux besoins de mes clients et dépasse leurs attentes.</p>
    </div>
  </div>
</div>
  <main>
    <app-projects class="past-projects-app"></app-projects>
    <app-competences class="competence-app"></app-competences>
  </main>
  <div id="contact">

  </div>
<button class="btn-arrow"><a href="/#home"><img width="20" height="20" src="assets/images/icon-arrow-up.png" alt="arrow"/></a></button>
</div>
