@tailwind base;
@tailwind components;
@tailwind utilities;

.circle{
  height: 500px;
  width: 500px;
  background-color: #000e14;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50px;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header{
  height: 10vh;
}
.bienvennue{
  height: 90vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn,.btn-arrow{
  background-color: #0096c7;
  color: #fff;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.name{
  font-size: 50px;
  color: #0096c7;
}

.links-icons{
  display: flex;
  justify-content: space-evenly;
}

.links-icons a{
  font-size: 40px;
  margin: 20px;
  transition: .5s;
}

.links-icons a:hover{
  color: #0096c7;
}

.side-1{
  transform: translateY(-50%);
}

.btn-arrow{
  padding: 8px 10px;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

ul li:hover{
  color: #0096c7;
  transition: .5s;
}
ul li:hover i{
  transition: .5s;
  color: #0096c7;
}
.icon-menu{
  position: absolute;
  left: -200px;
  top: -200px;
}

.about-me{
  background-color: #001824;
  margin: 15px;
  border-radius: 10px;
  padding: 20px;

  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
.title{
  font-size: 35px;
  font-weight: bolder;
  font-style: italic;
  color: #0096c7;
  margin-bottom: 30px;
  text-align: center;
}

.about-me .content{
  display: flex;
  justify-content: space-between;
}

.about-me .content img{
  width: 450px;
  height: 450px;
  border-radius: 20px;
}

.about-me .content div{
  width: 60%;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about-me .content div h6{
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
}
.about-me .content div p{
  width: 70%;
  font-size: 20px;
  line-height: 30px;
}
main{
  display: flex;
}
.past-projects-app{
  width: 70%;
}
.competence-app{
  width: 30%;
}

